<%= form_with(model: @attendance, url: attendances_update_overwork_consent_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">残業申請のお知らせ</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <% @attendances.each do |id, user| %>
              <table class="table table-bordered table-condensed table-striped user-table">
                <div class="overwork-consent">【 <%= User.find(id).name %> からの残業申請】</div>
                  <thead>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>指定勤務終了時間</th>
                    <th>時間外時間</th>
                    <th>業務処理内容</th>
                    <th>支持者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </thead>
                  
                <% user.each do |attendance| %>
                  <%= f.fields_for "attendances[]", attendance do |at| %>
                    <tbody>
                      <td><%= l(attendance.worked_on, format: :short) %></td>
                      <% if attendance.worked_on.wday == 6 %>
                        <td class="sat"><%= $days_of_the_week[attendance.worked_on.wday] %>
                      <% elsif attendance.worked_on.wday == 0 %>
                        <td class="sun"><%= $days_of_the_week[attendance.worked_on.wday] %>
                      <% else %>
                        <td><%= $days_of_the_week[attendance.worked_on.wday] %>
                      <% end %>
                      <td><%= l(attendance.scheduled_end_time, format: :time) %></td>
                      <td><%= l(User.find(id).designated_work_end_time, format: :time) %></td>
                      <td><%= working_overtimes(User.find(id).designated_work_end_time, attendance.scheduled_end_time) %></td>
                      <td><%= attendance.business_process %></td>
                      <td><%= at.select :overtime_status, [["申請中"], ["承認"], ["否認"]], class: "form-control" %></td>
                      <td><%= at.check_box :tomorrow, id: "tomorrow" %></td>
                      <td><%= link_to "確認", "#", class: "btn btn-primary" %></td>
                    </tbody>
                  <% end %>
                <% end %>
              </table>
            <% end %>

            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-lg btn-user" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>