<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td><%= l(@first_day, format: :middle) %>　時間管理表</td>
      <td>
        指定勤務開始時間　<%= l(@user.designated_work_start_time, format: :time) %><br>
        指定勤務終了時間　<%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></M></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number.present? ? @user.employee_number : "----" %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="7">【実績】</th>
        <th colspan="6">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="2">出社</th>
        <th rowspan="2"></th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">支持者確認印</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <% if day.worked_on.wday == 6 %>
            <td class="sat"><%= $days_of_the_week[day.worked_on.wday] %>
          <% elsif day.worked_on.wday == 0 %>
            <td class="sun"><%= $days_of_the_week[day.worked_on.wday] %>
          <% else %>
            <td><%= $days_of_the_week[day.worked_on.wday] %>
          <% end %>
          </td>
          <% if day.changed_started_at.present? && day.attendance_status == "勤怠編集承認済" %>
            <td><%= day.changed_started_at.strftime('%H') %></td>
            <td><%= day.changed_started_at.floor_to(15.minutes).strftime('%M') %></td>
          <% else %>
            <td><%= day.started_at.strftime('%H') if day.started_at.present? %></td>
            <td><%= day.started_at.floor_to(15.minutes).strftime('%M') if day.started_at.present? %></td>
          <% end %>
          <td></td>
          <% if day.changed_finished_at.present? && day.attendance_status == "勤怠編集承認済" %>
            <td><%= day.changed_finished_at.strftime('%H') %></td>
            <td><%= day.changed_finished_at.floor_to(15.minutes).strftime('%M') %></td>
          <% else %>
            <td><%= day.finished_at.strftime('%H') if day.finished_at.present? %></td>
            <td><%= day.finished_at.floor_to(15.minutes).strftime('%M') if day.finished_at.present? %></td>
          <% end %>
          
          <!--在社時間-->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% elsif day.changed_started_at.present? && day.changed_finished_at.present? && day.attendance_status == "勤怠編集承認済" %>  
              <%= str_times = working_times(day.changed_started_at, day.changed_finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          
          <td><%= day.note if day.attendance_status == "勤怠編集承認済" %></td>
          <td><%= day.scheduled_end_time.strftime('%H') if day.scheduled_end_time.present? %></td>
          <td><%= day.scheduled_end_time.floor_to(15.minutes).strftime('%M') if day.scheduled_end_time.present? %></td>
          <td>
            <% if day.scheduled_end_time.present? %>
              <%= working_overtimes(@user.designated_work_end_time, day.scheduled_end_time, day.worked_on) %>
            <% end %>
          </td>
          <td><%= day.business_process %></td>
          <!--指示者確認㊞-->
          <td>
            <% if day.overtime_status == "申請中" %>
              <%= day.confirmation %>へ残業申請中
            <% else %>
              <%= day.overtime_status %>
            <% end %>
            <% if day.attendance_status == "申請中" %>
              　<%= day.confirmation %>へ勤怠編集申請中
            <% else %>
              　<%= day.attendance_status %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="5"></td>
        <td colspan="3">累計在社時間</td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>